<!DOCTYPE html>
<html>
<head>
  <title>Markdin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    Hello <%= current_user.username %> <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in", "/auth/twitter" %>
  <% end %>

<%= yield %>

</body>
</html>
